In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [56]:
url = "https://finance.yahoo.com/quote/NTDOY/history?p=NTDOY"
headers = {"User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0"}

data  = requests.get(url).text

In [57]:
soup = BeautifulSoup(requests.get(url, headers=headers).content, "html.parser")

In [62]:
stock_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adjclose = col[5].text
    volume = col[6].text

    stock_data = stock_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adjclose, "Volume":volume}, ignore_index=True)

In [63]:
stock_data.head()

           Date   Open   High    Low  Close Adj Close   Volume
0  Apr 07, 2022  63.90  64.54  63.80  63.88     63.88  257,000
1  Apr 06, 2022  63.50  63.99  63.50  63.87     63.87  237,500
2  Apr 05, 2022  64.90  64.90  63.30  63.34     63.34  296,200
3  Apr 04, 2022  65.00  65.68  64.84  65.35     65.35  202,600
4  Apr 01, 2022  64.40  64.99  64.40  64.84     64.84  284,000